openapi: 3.0.0
info:
  title: api/rewe_complete Mitmproxy2Swagger
  version: 1.0.0
servers:
- url: https://mobile-clients-api.rewe.de/api
  description: The default server
paths:
  /customer-market-selections:
    post:
      summary: POST customer-market-selections
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      anonymousMarketSelection:
                        type: object
                        properties:
                          customerZipCode:
                            type: string
                          serviceType:
                            type: string
                          marketType:
                            type: string
                          market:
                            type: object
                            properties:
                              __typename:
                                type: string
                              wwIdent:
                                type: string
                              displayName:
                                type: string
                              companyName:
                                type: string
                              isPickupStation:
                                type: boolean
                              signedMapsUrl:
                                type: string
                              latitude:
                                type: string
                              longitude:
                                type: string
                              zipCode:
                                type: string
                              streetWithHouseNumber:
                                type: string
                              city:
                                type: string
                              pickupType:
                                type: string
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                data:
                  anonymousMarketSelection:
                    customerZipCode: '82418'
                    serviceType: PICKUP
                    marketType: PICKUP
                    market:
                      __typename: PickupMarket
                      wwIdent: '440340'
                      displayName: REWE Markt
                      companyName: REWE Markt GmbH
                      isPickupStation: false
                      signedMapsUrl: /api/markets/440340/map
                      latitude: '47.6805'
                      longitude: '11.19623'
                      zipCode: '82418'
                      streetWithHouseNumber: Kellerstr. 3
                      city: Murnau
                      pickupType: PICKUP_SERVICE
                extensions:
                  http:
                  - path:
                    - anonymousMarketSelection
                    message: OK
                    statusCode: 200
                    responseBody:
          headers:
            date:
              description: Tue, 24 Mar 2026 19:16:13 GMT
              schema:
                type: string
            content-type:
              description: application/json
              schema:
                type: string
            cf-ray:
              description: 9e18025269f018b9-FRA
              schema:
                type: string
            server-timing:
              description: intid;desc=1934d2c03721cb11
              schema:
                type: string
            cache-control:
              description: no-store
              schema:
                type: string
            x-content-type-options:
              description: nosniff
              schema:
                type: string
            x-frame-options:
              description: DENY
              schema:
                type: string
            x-xss-protection:
              description: '0'
              schema:
                type: number
            referrer-policy:
              description: no-referrer
              schema:
                type: string
            correlation-id:
              description: e70b9462-897d-47da-a9ce-395b940553f2
              schema:
                type: string
            vary:
              description: Accept-Encoding
              schema:
                type: string
            content-encoding:
              description: gzip
              schema:
                type: string
            strict-transport-security:
              description: max-age=15552000
              schema:
                type: string
            cf-cache-status:
              description: DYNAMIC
              schema:
                type: string
            server:
              description: cloudflare
              schema:
                type: string
      parameters:
      - name: rd-is-pickup-station
        in: header
        required: false
        schema:
          type: string
      - name: cookie
        in: header
        required: false
        schema:
          type: string
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
      - name: rd-user-consent
        in: header
        required: false
        schema:
          type: string
      - name: rd-postcode
        in: header
        required: false
        schema:
          type: number
      - name: priority
        in: header
        required: false
        schema:
          type: string
      - name: content-length
        in: header
        required: false
        schema:
          type: number
      - name: rd-service-types
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-lsfk
        in: header
        required: false
        schema:
          type: string
      - name: accept-language
        in: header
        required: false
        schema:
          type: string
      - name: rd-basket-id
        in: header
        required: false
        schema:
          type: string
      - name: rd-market-id
        in: header
        required: false
        schema:
          type: number
      - name: accept
        in: header
        required: false
        schema:
          type: string
      - name: content-type
        in: header
        required: false
        schema:
          type: string
      - name: accept-encoding
        in: header
        required: false
        schema:
          type: string
      - name: auth-info-session-id
        in: header
        required: false
        schema:
          type: string
      - name: rdfa
        in: header
        required: false
        schema:
          type: string
      - name: correlation-id
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customerZipCode:
                  type: string
                serviceType:
                  type: string
                wwIdent:
                  type: string
            example:
              customerZipCode: '82418'
              serviceType: PICKUP
              wwIdent: '440340'
  /bulky-goods-configuration/{id}/service-types/PICKUP:
    get:
      summary: GET pickup by id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        locations:
                          type: array
                          items:
                            type: object
                            properties:
                              line:
                                type: number
                              column:
                                type: number
                        path:
                          type: array
                          items:
                            type: string
                        extensions:
                          type: object
                          properties:
                            statusCode:
                              type: number
                            classification:
                              type: string
                  data:
                    type: object
                    properties:
                      bulkyGoodsConfiguration:
                        type: object
                        nullable: true
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                errors:
                - message: Not Found
                  locations:
                  - line: 2
                    column: 5
                  path:
                  - bulkyGoodsConfiguration
                  extensions:
                    statusCode: 404
                    classification: RemoteResourceFetchingError
                data:
                  bulkyGoodsConfiguration:
                extensions:
                  http:
                  - path:
                    - bulkyGoodsConfiguration
                    message: Not Found
                    statusCode: 404
                    responseBody:
          headers:
            date:
              description: Tue, 24 Mar 2026 19:16:13 GMT
              schema:
                type: string
            content-type:
              description: application/json
              schema:
                type: string
            cf-ray:
              description: 9e1802531aa618b9-FRA
              schema:
                type: string
            server-timing:
              description: intid;desc=cb4607b76c614d0b
              schema:
                type: string
            etag:
              description: W/"dabfed1f3f714535f863e51fd2a33453"
              schema:
                type: string
            cache-control:
              description: 'max-age: 0, must-revalidate, private'
              schema:
                type: string
            x-content-type-options:
              description: nosniff
              schema:
                type: string
            x-frame-options:
              description: DENY
              schema:
                type: string
            x-xss-protection:
              description: '0'
              schema:
                type: number
            referrer-policy:
              description: no-referrer
              schema:
                type: string
            correlation-id:
              description: f8ce3c26-50f1-4312-8c44-27a3cbce5ce6
              schema:
                type: string
            vary:
              description: Accept-Encoding
              schema:
                type: string
            content-encoding:
              description: gzip
              schema:
                type: string
            strict-transport-security:
              description: max-age=15552000
              schema:
                type: string
            cf-cache-status:
              description: DYNAMIC
              schema:
                type: string
            server:
              description: cloudflare
              schema:
                type: string
      parameters:
      - name: rd-user-consent
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-pickup-station
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-lsfk
        in: header
        required: false
        schema:
          type: string
      - name: accept
        in: header
        required: false
        schema:
          type: string
      - name: rdfa
        in: header
        required: false
        schema:
          type: string
      - name: priority
        in: header
        required: false
        schema:
          type: string
      - name: rd-basket-id
        in: header
        required: false
        schema:
          type: string
      - name: rd-postcode
        in: header
        required: false
        schema:
          type: number
      - name: accept-language
        in: header
        required: false
        schema:
          type: string
      - name: rd-market-id
        in: header
        required: false
        schema:
          type: number
      - name: accept-encoding
        in: header
        required: false
        schema:
          type: string
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
      - name: auth-info-session-id
        in: header
        required: false
        schema:
          type: string
      - name: correlation-id
        in: header
        required: false
        schema:
          type: string
      - name: cookie
        in: header
        required: false
        schema:
          type: string
      - name: rd-service-types
        in: header
        required: false
        schema:
          type: string
  /customers:
    get:
      summary: GET customers
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer:
                        type: object
                        properties:
                          customerUuid:
                            type: string
                          email:
                            type: string
                          firstName:
                            type: string
                          lastName:
                            type: string
                          customerType:
                            type: string
                          customerNumber:
                            type: string
                      addresses:
                        type: object
                        properties:
                          invoiceAddress:
                            type: object
                            nullable: true
                          deliveryAddresses:
                            type: object
                            nullable: true
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                data:
                  customer:
                    customerUuid: REDACTED
                    email: redacted@example.com
                    firstName: REDACTED
                    lastName: REDACTED
                    customerType: PERSONAL
                    customerNumber: REDACTED
                  addresses:
                    invoiceAddress:
                    deliveryAddresses:
                extensions:
                  http:
                  - path:
                    - customer
                    message: OK
                    statusCode: 200
                    responseBody:
                  - path:
                    - addresses
                    message: OK
                    statusCode: 200
                    responseBody:
          headers:
            date:
              description: Tue, 24 Mar 2026 19:16:41 GMT
              schema:
                type: string
            content-type:
              description: application/json
              schema:
                type: string
            cf-ray:
              description: 9e180301f88918b9-FRA
              schema:
                type: string
            server-timing:
              description: intid;desc=cddf798a7d99d24d
              schema:
                type: string
            cache-control:
              description: no-store
              schema:
                type: string
            x-content-type-options:
              description: nosniff
              schema:
                type: string
            x-frame-options:
              description: DENY
              schema:
                type: string
            x-xss-protection:
              description: '0'
              schema:
                type: number
            referrer-policy:
              description: no-referrer
              schema:
                type: string
            set-rd-gateway-token:
              description: REDACTED_JWE_TOKEN
              schema:
                type: string
            correlation-id:
              description: REDACTED
              schema:
                type: string
            vary:
              description: Accept-Encoding
              schema:
                type: string
            content-encoding:
              description: gzip
              schema:
                type: string
            strict-transport-security:
              description: max-age=15552000
              schema:
                type: string
            cf-cache-status:
              description: DYNAMIC
              schema:
                type: string
            server:
              description: cloudflare
              schema:
                type: string
      parameters:
      - name: rd-user-consent
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-pickup-station
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-lsfk
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: accept
        in: header
        required: false
        schema:
          type: string
      - name: rdfa
        in: header
        required: false
        schema:
          type: string
      - name: priority
        in: header
        required: false
        schema:
          type: string
      - name: rd-basket-id
        in: header
        required: false
        schema:
          type: string
      - name: rd-postcode
        in: header
        required: false
        schema:
          type: number
      - name: accept-language
        in: header
        required: false
        schema:
          type: string
      - name: rd-market-id
        in: header
        required: false
        schema:
          type: number
      - name: accept-encoding
        in: header
        required: false
        schema:
          type: string
      - name: correlation-id
        in: header
        required: false
        schema:
          type: string
      - name: auth-info-session-id
        in: header
        required: false
        schema:
          type: string
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
      - name: cookie
        in: header
        required: false
        schema:
          type: string
      - name: rd-service-types
        in: header
        required: false
        schema:
          type: string
  /purchased-products:
    get:
      summary: GET purchased-products
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      purchasedProducts:
                        type: object
                        properties:
                          products:
                            type: array
                            items:
                              type: object
                              properties:
                                productId:
                                  type: string
                                title:
                                  type: string
                                depositLabel:
                                  type: object
                                  nullable: true
                                imageURL:
                                  type: string
                                attributes:
                                  type: object
                                  properties:
                                    isBulkyGood:
                                      type: boolean
                                    isOrganic:
                                      type: boolean
                                    isVegan:
                                      type: object
                                      nullable: true
                                    isVegetarian:
                                      type: object
                                      nullable: true
                                    isDairyFree:
                                      type: object
                                      nullable: true
                                    isGlutenFree:
                                      type: object
                                      nullable: true
                                    isBiocide:
                                      type: boolean
                                    isAgeRestricted:
                                      type: object
                                      nullable: true
                                    isRegional:
                                      type: object
                                      nullable: true
                                    isNew:
                                      type: boolean
                                    isLowestPrice:
                                      type: object
                                      nullable: true
                                    isTobacco:
                                      type: object
                                      nullable: true
                                orderLimit:
                                  type: number
                                categories:
                                  type: object
                                  nullable: true
                                detailsViewRequired:
                                  type: boolean
                                articleId:
                                  type: string
                                listing:
                                  type: object
                                  properties:
                                    listingId:
                                      type: string
                                    listingVersion:
                                      type: number
                                    currentRetailPrice:
                                      type: number
                                    totalRefundPrice:
                                      type: object
                                      nullable: true
                                    grammage:
                                      type: string
                                    discount:
                                      type: object
                                      nullable: true
                                    loyaltyBonus:
                                      type: object
                                      nullable: true
                                itemId:
                                  type: string
                                topLevelCategoryId:
                                  type: string
                          loyaltyBadges:
                            type: object
                            properties:
                              listingBadges:
                                type: array
                                items: {}
                          categories:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                name:
                                  type: string
                                productCount:
                                  type: number
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                data:
                  purchasedProducts:
                    products:
                    - productId: '8354670'
                      title: REWE Bio Skyr Natur 400g
                      depositLabel:
                      imageURL: https://img.rewe-static.de/8354670/29973375_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: true
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: 6AJQ3RLX
                      listing:
                        listingId: 8-6AJQ3RLX-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200086
                        currentRetailPrice: 139
                        totalRefundPrice:
                        grammage: 400g (1 kg = 3,48 €)
                        discount:
                        loyaltyBonus:
                      itemId: '8354670'
                      topLevelCategoryId: '3684'
                    - productId: '2588140'
                      title: REWE Bio Möhren 1kg
                      depositLabel:
                      imageURL: https://img.rewe-static.de/2588140/24343912_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: true
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: '24673808'
                      listing:
                        listingId: 8-24673808-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200008
                        currentRetailPrice: 199
                        totalRefundPrice:
                        grammage: 1kg
                        discount:
                        loyaltyBonus:
                      itemId: '2588140'
                      topLevelCategoryId: '1'
                    - productId: '482595'
                      title: Eisbergsalat 1 Stück
                      depositLabel:
                      imageURL: https://img.rewe-static.de/0482595/24570316_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: false
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 15
                      categories:
                      detailsViewRequired: false
                      articleId: '5701012986614'
                      listing:
                        listingId: 13-5701012986614-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200016
                        currentRetailPrice: 99
                        totalRefundPrice:
                        grammage: 1 Stück
                        discount:
                          __typename: RegularProductDiscount
                          validTo: 28.03.
                        loyaltyBonus:
                      itemId: '482595'
                      topLevelCategoryId: '1'
                    - productId: '195634'
                      title: Zespri Kiwi Green 1 Stück
                      depositLabel:
                      imageURL: https://img.rewe-static.de/0195634/31049727_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: false
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: 53XUPWWW
                      listing:
                        listingId: 8-53XUPWWW-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200014
                        currentRetailPrice: 35
                        totalRefundPrice:
                        grammage: 1 Stück
                        discount:
                        loyaltyBonus:
                      itemId: '195634'
                      topLevelCategoryId: '1'
                    - productId: '1906432'
                      title: REWE Bio Körniger Frischkäse 200g
                      depositLabel:
                      imageURL: https://img.rewe-static.de/1906432/21232282_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: true
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: '4337256112925'
                      listing:
                        listingId: 13-4337256112925-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200037
                        currentRetailPrice: 145
                        totalRefundPrice:
                        grammage: 200g (1 kg = 7,25 €)
                        discount:
                        loyaltyBonus:
                      itemId: '1906432'
                      topLevelCategoryId: '3684'
                    - productId: '1902921'
                      title: Paprika rot 500g
                      depositLabel:
                      imageURL: https://img.rewe-static.de/1902921/23275435_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: false
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: '8412276893637'
                      listing:
                        listingId: 13-8412276893637-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200011
                        currentRetailPrice: 259
                        totalRefundPrice:
                        grammage: 500g (1 kg = 5,18 €)
                        discount:
                        loyaltyBonus:
                      itemId: '1902921'
                      topLevelCategoryId: '1'
                    - productId: '1907470'
                      title: REWE Regional Apfel rot 1kg
                      depositLabel:
                      imageURL: https://img.rewe-static.de/1907470/23271236_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: false
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: '21907470'
                      listing:
                        listingId: 8-21907470-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200007
                        currentRetailPrice: 239
                        totalRefundPrice:
                        grammage: 1kg
                        discount:
                        loyaltyBonus:
                      itemId: '1907470'
                      topLevelCategoryId: '1'
                    - productId: '1378093'
                      title: REWE Regional Gurke 1 Stück
                      depositLabel:
                      imageURL: https://img.rewe-static.de/1378093/24569875_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: false
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: '21378096'
                      listing:
                        listingId: 8-21378096-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200012
                        currentRetailPrice: 111
                        totalRefundPrice:
                        grammage: 1 Stück
                        discount:
                        loyaltyBonus:
                      itemId: '1378093'
                      topLevelCategoryId: '1'
                    - productId: '2454591'
                      title: Grüngold Bio Seitan Rolle smoked vegan 210g
                      depositLabel:
                      imageURL: https://img.rewe-static.de/2454591/24497624_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: true
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 99
                      categories:
                      detailsViewRequired: false
                      articleId: YGFXW8DA
                      listing:
                        listingId: 8-YGFXW8DA-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200008
                        currentRetailPrice: 279
                        totalRefundPrice:
                        grammage: 210g (1 kg = 13,29 €)
                        discount:
                        loyaltyBonus:
                      itemId: '2454591'
                      topLevelCategoryId: '3680'
                    - productId: '7902683'
                      title: Bio Eier frisch 10 Stück
                      depositLabel:
                      imageURL: https://img.rewe-static.de/7902683/35901577_digital-image.png
                      attributes:
                        isBulkyGood: false
                        isOrganic: true
                        isVegan:
                        isVegetarian:
                        isDairyFree:
                        isGlutenFree:
                        isBiocide: false
                        isAgeRestricted:
                        isRegional:
                        isNew: false
                        isLowestPrice:
                        isTobacco:
                      orderLimit: 50
                      categories:
                      detailsViewRequired: false
                      articleId: BDPHNRPQ
                      listing:
                        listingId: 8-BDPHNRPQ-bd7c2a1e-f1c1-3464-8250-900b12c90f70
                        listingVersion: 1200099
                        currentRetailPrice: 399
                        totalRefundPrice:
                        grammage: 10 Stück
                        discount:
                        loyaltyBonus:
                      itemId: '7902683'
                      topLevelCategoryId: '3684'
                    loyaltyBadges:
                      listingBadges: []
                    categories:
                    - id: '0'
                      name: Alle Kategorien
                      productCount: 208
                    - id: '3844'
                      name: Monats-Highlights
                      productCount: 12
                    - id: '1'
                      name: Obst & Gemüse
                      productCount: 82
                    - id: '3680'
                      name: Fleisch & Fisch
                      productCount: 20
                    - id: '3684'
                      name: Käse, Eier & Molkerei
                      productCount: 26
                    - id: '273'
                      name: Tiefkühlkost
                      productCount: 1
                    - id: '3693'
                      name: Brot, Cerealien & Aufstriche
                      productCount: 12
                    - id: '3736'
                      name: Kochen & Backen
                      productCount: 4
                    - id: '3739'
                      name: Öle, Soßen & Gewürze
                      productCount: 11
                    - id: '3738'
                      name: Fertiggerichte & Konserven
                      productCount: 12
                extensions:
                  http:
                  - path:
                    - purchasedProducts
                    message: OK
                    statusCode: 200
                    responseBody:
                  - path:
                    - purchasedProducts
                    - loyaltyBadges
                    message: OK
                    statusCode: 200
                    responseBody:
          headers:
            date:
              description: Tue, 24 Mar 2026 19:16:42 GMT
              schema:
                type: string
            content-type:
              description: application/json
              schema:
                type: string
            content-length:
              description: '14775'
              schema:
                type: number
            cf-ray:
              description: 9e18030278e518b9-FRA
              schema:
                type: string
            server-timing:
              description: intid;desc=055e6c32dc8803ed
              schema:
                type: string
            rd-market-id:
              description: '440340'
              schema:
                type: number
            rd-service-types:
              description: PICKUP
              schema:
                type: string
            rd-postcode:
              description: '82418'
              schema:
                type: number
            etag:
              description: '"ebba7156fae670e3853176adc3b05606"'
              schema:
                type: string
            cache-control:
              description: 'max-age: 0, must-revalidate, private'
              schema:
                type: string
            x-content-type-options:
              description: nosniff
              schema:
                type: string
            x-frame-options:
              description: DENY
              schema:
                type: string
            x-xss-protection:
              description: '0'
              schema:
                type: number
            referrer-policy:
              description: no-referrer
              schema:
                type: string
            set-rd-gateway-token:
              description: REDACTED_JWE_TOKEN
              schema:
                type: string
            correlation-id:
              description: REDACTED
              schema:
                type: string
            content-encoding:
              description: gzip
              schema:
                type: string
            strict-transport-security:
              description: max-age=15552000
              schema:
                type: string
            cf-cache-status:
              description: DYNAMIC
              schema:
                type: string
            vary:
              description: accept-encoding
              schema:
                type: string
            server:
              description: cloudflare
              schema:
                type: string
      parameters:
      - name: rd-user-consent
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-pickup-station
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-lsfk
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: accept
        in: header
        required: false
        schema:
          type: string
      - name: rd-service-types
        in: header
        required: false
        schema:
          type: string
      - name: priority
        in: header
        required: false
        schema:
          type: string
      - name: rd-basket-id
        in: header
        required: false
        schema:
          type: string
      - name: rd-postcode
        in: header
        required: false
        schema:
          type: number
      - name: accept-language
        in: header
        required: false
        schema:
          type: string
      - name: rd-market-id
        in: header
        required: false
        schema:
          type: number
      - name: accept-encoding
        in: header
        required: false
        schema:
          type: string
      - name: correlation-id
        in: header
        required: false
        schema:
          type: string
      - name: auth-info-session-id
        in: header
        required: false
        schema:
          type: string
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
      - name: cookie
        in: header
        required: false
        schema:
          type: string
      - name: rdfa
        in: header
        required: false
        schema:
          type: string
  /rewe-id:
    get:
      summary: GET rewe-id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      getReweIdByCustomerUuid:
                        type: object
                        properties:
                          reweId:
                            type: string
                          registrations:
                            type: array
                            items:
                              type: string
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                data:
                  getReweIdByCustomerUuid:
                    reweId: 'REDACTED'
                    registrations:
                    - ebon
                extensions:
                  http:
                  - path:
                    - getReweIdByCustomerUuid
                    message: OK
                    statusCode: 200
                    responseBody:
          headers:
            date:
              description: Tue, 24 Mar 2026 19:16:42 GMT
              schema:
                type: string
            content-type:
              description: application/json
              schema:
                type: string
            cf-ray:
              description: 9e18030298fb18b9-FRA
              schema:
                type: string
            server-timing:
              description: intid;desc=3a77a187ae9a8d4f
              schema:
                type: string
            etag:
              description: W/"dae557d90d3d982435a5788e09bc0376"
              schema:
                type: string
            cache-control:
              description: 'max-age: 0, must-revalidate, private'
              schema:
                type: string
            x-content-type-options:
              description: nosniff
              schema:
                type: string
            x-frame-options:
              description: DENY
              schema:
                type: string
            x-xss-protection:
              description: '0'
              schema:
                type: number
            referrer-policy:
              description: no-referrer
              schema:
                type: string
            correlation-id:
              description: f00a105d-36a7-44f4-9e29-71272c7d4192
              schema:
                type: string
            vary:
              description: Accept-Encoding
              schema:
                type: string
            content-encoding:
              description: gzip
              schema:
                type: string
            strict-transport-security:
              description: max-age=15552000
              schema:
                type: string
            cf-cache-status:
              description: DYNAMIC
              schema:
                type: string
            server:
              description: cloudflare
              schema:
                type: string
      parameters:
      - name: rd-is-pickup-station
        in: header
        required: false
        schema:
          type: string
      - name: cookie
        in: header
        required: false
        schema:
          type: string
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
      - name: rd-user-consent
        in: header
        required: false
        schema:
          type: string
      - name: rd-postcode
        in: header
        required: false
        schema:
          type: number
      - name: ruleversion
        in: header
        required: false
        schema:
          type: number
      - name: priority
        in: header
        required: false
        schema:
          type: string
      - name: rd-service-types
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-lsfk
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: rd-basket-id
        in: header
        required: false
        schema:
          type: string
      - name: accept-language
        in: header
        required: false
        schema:
          type: string
      - name: rd-market-id
        in: header
        required: false
        schema:
          type: number
      - name: accept
        in: header
        required: false
        schema:
          type: string
      - name: rdfa
        in: header
        required: false
        schema:
          type: string
      - name: accept-encoding
        in: header
        required: false
        schema:
          type: string
      - name: rd-gateway-token
        in: header
        required: false
        schema:
          type: string
      - name: auth-info-session-id
        in: header
        required: false
        schema:
          type: string
      - name: correlation-id
        in: header
        required: false
        schema:
          type: string
  /baskets/merge:
    post:
      summary: POST merge
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      basket:
                        type: object
                        properties:
                          id:
                            type: string
                          version:
                            type: number
                          orderId:
                            type: object
                            nullable: true
                          deviceId:
                            type: object
                            nullable: true
                          serviceSelection:
                            type: object
                            properties:
                              wwIdent:
                                type: string
                              serviceType:
                                type: string
                              zipCode:
                                type: string
                          serviceConfiguration:
                            type: object
                            properties:
                              minimumOrderAmount:
                                type: number
                          staggerings:
                            type: object
                            properties:
                              reachedStaggering:
                                type: object
                                properties:
                                  articlePriceThreshold:
                                    type: number
                                  displayText:
                                    type: string
                              nextStaggering:
                                type: object
                                properties:
                                  remainingArticlePrice:
                                    type: number
                                  articlePriceThreshold:
                                    type: number
                                  displayText:
                                    type: string
                          lineItems:
                            type: array
                            items: {}
                          loyaltyBadges:
                            type: object
                            properties:
                              listingBadges:
                                type: array
                                items: {}
                          violations:
                            type: object
                            nullable: true
                          changes:
                            type: object
                            nullable: true
                          summary:
                            type: object
                            properties:
                              articleCount:
                                type: number
                              articlePrice:
                                type: number
                              fees:
                                type: object
                                properties:
                                  refund:
                                    type: object
                                    nullable: true
                                  beverageSurcharge:
                                    type: object
                                    nullable: true
                                  reusableBagSurcharge:
                                    type: object
                                    nullable: true
                                  transportBoxSurcharge:
                                    type: number
                                  substitutesSurcharge:
                                    type: number
                                  serviceFee:
                                    type: object
                                    nullable: true
                              totalPriceExclServiceFee:
                                type: number
                              totalPrice:
                                type: number
                              totalArticleQuantity:
                                type: number
                              reservationTotal:
                                type: number
                          timeSlotInformation:
                            type: object
                            properties:
                              startTime:
                                type: object
                                nullable: true
                              endTime:
                                type: object
                                nullable: true
                              timeSlotPrice:
                                type: object
                                nullable: true
                              timeSlotText:
                                type: string
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                data:
                  basket:
                    id: 20dd138f-1335-45ef-9e5b-c3d56c44cd30
                    version: 0
                    orderId:
                    deviceId:
                    serviceSelection:
                      wwIdent: '440340'
                      serviceType: PICKUP
                      zipCode: '82418'
                    serviceConfiguration:
                      minimumOrderAmount: 0
                    staggerings:
                      reachedStaggering:
                        articlePriceThreshold: 0
                        displayText: Diesen Einkauf packen wir gratis.
                      nextStaggering:
                        remainingArticlePrice: 7000
                        articlePriceThreshold: 7000
                        displayText: Kauf noch für 70,00 € ein, dann packen wir deinen
                          Einkauf gratis.
                    lineItems: []
                    loyaltyBadges:
                      listingBadges: []
                    violations:
                    changes:
                    summary:
                      articleCount: 0
                      articlePrice: 0
                      fees:
                        refund:
                        beverageSurcharge:
                        reusableBagSurcharge:
                        transportBoxSurcharge: 800
                        substitutesSurcharge: 0
                        serviceFee:
                      totalPriceExclServiceFee: 0
                      totalPrice: 0
                      totalArticleQuantity: 0
                      reservationTotal: 800
                    timeSlotInformation:
                      startTime:
                      endTime:
                      timeSlotPrice:
                      timeSlotText: Abholtermin nicht gewählt
                extensions:
                  http:
                  - path:
                    - basket
                    message: OK
                    statusCode: 200
                    responseBody:
                  - path:
                    - basket
                    - loyaltyBadges
                    message: OK
                    statusCode: 200
                    responseBody:
          headers:
            date:
              description: Tue, 24 Mar 2026 19:16:42 GMT
              schema:
                type: string
            content-type:
              description: application/json
              schema:
                type: string
            cf-ray:
              description: 9e180302a90918b9-FRA
              schema:
                type: string
            server-timing:
              description: intid;desc=e9e936556c8f3bd1
              schema:
                type: string
            rd-market-id:
              description: '440340'
              schema:
                type: number
            rd-service-types:
              description: PICKUP
              schema:
                type: string
            rd-postcode:
              description: '82418'
              schema:
                type: number
            cache-control:
              description: no-store
              schema:
                type: string
            x-content-type-options:
              description: nosniff
              schema:
                type: string
            x-frame-options:
              description: DENY
              schema:
                type: string
            x-xss-protection:
              description: '0'
              schema:
                type: number
            referrer-policy:
              description: no-referrer
              schema:
                type: string
            correlation-id:
              description: 68a2bbce-c865-4ccd-91da-44d675bd421c
              schema:
                type: string
            vary:
              description: Accept-Encoding
              schema:
                type: string
            content-encoding:
              description: gzip
              schema:
                type: string
            strict-transport-security:
              description: max-age=15552000
              schema:
                type: string
            cf-cache-status:
              description: DYNAMIC
              schema:
                type: string
            server:
              description: cloudflare
              schema:
                type: string
      parameters:
      - name: correlation-id
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-pickup-station
        in: header
        required: false
        schema:
          type: string
      - name: cookie
        in: header
        required: false
        schema:
          type: string
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
      - name: rd-user-consent
        in: header
        required: false
        schema:
          type: string
      - name: rd-postcode
        in: header
        required: false
        schema:
          type: number
      - name: priority
        in: header
        required: false
        schema:
          type: string
      - name: content-length
        in: header
        required: false
        schema:
          type: number
      - name: rd-service-types
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-lsfk
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: rd-basket-id
        in: header
        required: false
        schema:
          type: string
      - name: accept-language
        in: header
        required: false
        schema:
          type: string
      - name: rd-market-id
        in: header
        required: false
        schema:
          type: number
      - name: accept
        in: header
        required: false
        schema:
          type: string
      - name: rdfa
        in: header
        required: false
        schema:
          type: string
      - name: content-type
        in: header
        required: false
        schema:
          type: string
      - name: rd-gateway-token
        in: header
        required: false
        schema:
          type: string
      - name: auth-info-session-id
        in: header
        required: false
        schema:
          type: string
      - name: accept-encoding
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                serviceSelection:
                  type: object
                  properties:
                    serviceType:
                      type: string
            example:
              serviceSelection:
                serviceType: PICKUP
  /baskets/{id}:
    get:
      summary: GET basket by id
      description: Read-only basket fetch. Does not increment version. Requires basket ID from a prior POST /baskets call.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Returns full basket state identical to POST /baskets response'
  /baskets:
    post:
      summary: POST baskets
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      basket:
                        type: object
                        properties:
                          id:
                            type: string
                          version:
                            type: number
                          orderId:
                            type: object
                            nullable: true
                          deviceId:
                            type: object
                            nullable: true
                          serviceSelection:
                            type: object
                            properties:
                              wwIdent:
                                type: string
                              serviceType:
                                type: string
                              zipCode:
                                type: string
                          serviceConfiguration:
                            type: object
                            properties:
                              minimumOrderAmount:
                                type: number
                          staggerings:
                            type: object
                            properties:
                              reachedStaggering:
                                type: object
                                properties:
                                  articlePriceThreshold:
                                    type: number
                                  displayText:
                                    type: string
                              nextStaggering:
                                type: object
                                properties:
                                  remainingArticlePrice:
                                    type: number
                                  articlePriceThreshold:
                                    type: number
                                  displayText:
                                    type: string
                          lineItems:
                            type: array
                            items: {}
                          loyaltyBadges:
                            type: object
                            properties:
                              listingBadges:
                                type: array
                                items: {}
                          violations:
                            type: object
                            nullable: true
                          changes:
                            type: object
                            nullable: true
                          summary:
                            type: object
                            properties:
                              articleCount:
                                type: number
                              articlePrice:
                                type: number
                              fees:
                                type: object
                                properties:
                                  refund:
                                    type: object
                                    nullable: true
                                  beverageSurcharge:
                                    type: object
                                    nullable: true
                                  reusableBagSurcharge:
                                    type: object
                                    nullable: true
                                  transportBoxSurcharge:
                                    type: number
                                  substitutesSurcharge:
                                    type: number
                                  serviceFee:
                                    type: object
                                    nullable: true
                              totalPriceExclServiceFee:
                                type: number
                              totalPrice:
                                type: number
                              totalArticleQuantity:
                                type: number
                              reservationTotal:
                                type: number
                          timeSlotInformation:
                            type: object
                            properties:
                              startTime:
                                type: object
                                nullable: true
                              endTime:
                                type: object
                                nullable: true
                              timeSlotPrice:
                                type: object
                                nullable: true
                              timeSlotText:
                                type: string
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                data:
                  basket:
                    id: 20dd138f-1335-45ef-9e5b-c3d56c44cd30
                    version: 0
                    orderId:
                    deviceId:
                    serviceSelection:
                      wwIdent: '440340'
                      serviceType: PICKUP
                      zipCode: '82418'
                    serviceConfiguration:
                      minimumOrderAmount: 0
                    staggerings:
                      reachedStaggering:
                        articlePriceThreshold: 0
                        displayText: Diesen Einkauf packen wir gratis.
                      nextStaggering:
                        remainingArticlePrice: 7000
                        articlePriceThreshold: 7000
                        displayText: Kauf noch für 70,00 € ein, dann packen wir deinen
                          Einkauf gratis.
                    lineItems: []
                    loyaltyBadges:
                      listingBadges: []
                    violations:
                    changes:
                    summary:
                      articleCount: 0
                      articlePrice: 0
                      fees:
                        refund:
                        beverageSurcharge:
                        reusableBagSurcharge:
                        transportBoxSurcharge: 800
                        substitutesSurcharge: 0
                        serviceFee:
                      totalPriceExclServiceFee: 0
                      totalPrice: 0
                      totalArticleQuantity: 0
                      reservationTotal: 800
                    timeSlotInformation:
                      startTime:
                      endTime:
                      timeSlotPrice:
                      timeSlotText: Abholtermin nicht gewählt
                extensions:
                  http:
                  - path:
                    - basket
                    message: OK
                    statusCode: 200
                    responseBody:
                  - path:
                    - basket
                    - loyaltyBadges
                    message: OK
                    statusCode: 200
                    responseBody:
          headers:
            date:
              description: Tue, 24 Mar 2026 19:16:42 GMT
              schema:
                type: string
            content-type:
              description: application/json
              schema:
                type: string
            cf-ray:
              description: 9e180302d92518b9-FRA
              schema:
                type: string
            server-timing:
              description: intid;desc=4c8063debb1b4fcd
              schema:
                type: string
            rd-market-id:
              description: '440340'
              schema:
                type: number
            rd-service-types:
              description: PICKUP
              schema:
                type: string
            rd-postcode:
              description: '82418'
              schema:
                type: number
            cache-control:
              description: no-store
              schema:
                type: string
            x-content-type-options:
              description: nosniff
              schema:
                type: string
            x-frame-options:
              description: DENY
              schema:
                type: string
            x-xss-protection:
              description: '0'
              schema:
                type: number
            referrer-policy:
              description: no-referrer
              schema:
                type: string
            correlation-id:
              description: b3f11a67-8c57-4abf-999c-0b7c4b6688ff
              schema:
                type: string
            vary:
              description: Accept-Encoding
              schema:
                type: string
            content-encoding:
              description: gzip
              schema:
                type: string
            strict-transport-security:
              description: max-age=15552000
              schema:
                type: string
            cf-cache-status:
              description: DYNAMIC
              schema:
                type: string
            server:
              description: cloudflare
              schema:
                type: string
      parameters:
      - name: correlation-id
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-pickup-station
        in: header
        required: false
        schema:
          type: string
      - name: cookie
        in: header
        required: false
        schema:
          type: string
      - name: user-agent
        in: header
        required: false
        schema:
          type: string
      - name: rd-user-consent
        in: header
        required: false
        schema:
          type: string
      - name: rd-postcode
        in: header
        required: false
        schema:
          type: number
      - name: priority
        in: header
        required: false
        schema:
          type: string
      - name: content-length
        in: header
        required: false
        schema:
          type: number
      - name: rd-service-types
        in: header
        required: false
        schema:
          type: string
      - name: rd-is-lsfk
        in: header
        required: false
        schema:
          type: string
      - name: authorization
        in: header
        required: false
        schema:
          type: string
      - name: rd-basket-id
        in: header
        required: false
        schema:
          type: string
      - name: accept-language
        in: header
        required: false
        schema:
          type: string
      - name: rd-market-id
        in: header
        required: false
        schema:
          type: number
      - name: accept
        in: header
        required: false
        schema:
          type: string
      - name: accept-encoding
        in: header
        required: false
        schema:
          type: string
      - name: content-type
        in: header
        required: false
        schema:
          type: string
      - name: rdfa
        in: header
        required: false
        schema:
          type: string
      - name: rd-gateway-token
        in: header
        required: false
        schema:
          type: string
      - name: auth-info-session-id
        in: header
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                includeTimeslot:
                  type: boolean
            example:
              includeTimeslot: true
  /shop-categories:
    get:
      summary: GET shop-categories
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            productCount:
                              type: number
                            slug:
                              type: string
                            imageUrl:
                              type: string
                            categoryTags:
                              type: array
                              items:
                                type: string
                            childCategories:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                                  productCount:
                                    type: number
                                  slug:
                                    type: string
                                  imageUrl:
                                    type: string
                                  categoryTags:
                                    type: array
                                    items:
                                      type: string
                                  childCategories:
                                    type: object
                                    nullable: true
                  extensions:
                    type: object
                    properties:
                      http:
                        type: array
                        items:
                          type: object
                          properties:
                            path:
                              type: array
                              items:
                                type: string
                            message:
                              type: string
                            statusCode:
                              type: number
                            responseBody:
                              type: object
                              nullable: true
              example:
                data:
                  categories:
                  - id: '3844'
                    name: Monats-Highlights
                    productCount: 1445
                    slug: monatshighlights
                    imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3844.png
                    categoryTags:
                    - inspiration
                    childCategories:
                    - id: '3845'
                      name: Neu im Sortiment
                      productCount: 80
                      slug: neu-im-sortiment
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3845.png
                      categoryTags:
                      - inspiration
                      childCategories:
                    - id: '3962'
                      name: Fair after February
                      productCount: 22
                      slug: fair-after-february
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3962.png
                      categoryTags:
                      childCategories:
                    - id: '3961'
                      name: Sushi all you can eat
                      productCount: 28
                      slug: sushi-all-you-can-eat
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3961.png
                      categoryTags:
                      childCategories:
                    - id: '3963'
                      name: Frisch in den Frühling
                      productCount: 24
                      slug: frisch-in-den-fruehling
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3963.png
                      categoryTags:
                      childCategories:
                    - id: '3886'
                      name: Feine Genussmomente
                      productCount: 372
                      slug: feine-genussmomente
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3886.png
                      categoryTags:
                      childCategories:
                    - id: '3791'
                      name: International
                      productCount: 937
                      slug: international
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3791.png
                      categoryTags:
                      childCategories:
                      - id: '3901'
                        name: Alpenküche
                        productCount: 75
                        slug: alpenregion
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3901.png
                        categoryTags:
                        - inspiration
                      - id: '3792'
                        name: Amerikanisch
                        productCount: 64
                        slug: amerikanisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3792.png
                        categoryTags:
                        - inspiration
                      - id: '3793'
                        name: Asiatisch
                        productCount: 189
                        slug: asiatisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3793.png
                        categoryTags:
                        - inspiration
                      - id: '3794'
                        name: Britisch & Irisch
                        productCount: 24
                        slug: britisch-irisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3794.png
                        categoryTags:
                        - inspiration
                      - id: '3795'
                        name: Französisch
                        productCount: 65
                        slug: franzoesisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3795.png
                        categoryTags:
                        - inspiration
                      - id: '3796'
                        name: Griechisch
                        productCount: 41
                        slug: griechisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3796.png
                        categoryTags:
                        - inspiration
                      - id: '3797'
                        name: Indisch
                        productCount: 17
                        slug: indisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3797.png
                        categoryTags:
                        - inspiration
                      - id: '3798'
                        name: Italienisch
                        productCount: 271
                        slug: italienisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3798.png
                        categoryTags:
                        - inspiration
                      - id: '3799'
                        name: Mexikanisch
                        productCount: 38
                        slug: mexikanisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3799.png
                        categoryTags:
                        - inspiration
                      - id: '3800'
                        name: Niederländisch
                        productCount: 9
                        slug: niederlaendisch
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3800.png
                        categoryTags:
                        - inspiration
                    - id: '3851'
                      name: XXL-Packungen für Alle
                      productCount: 153
                      slug: xxl-packungen-fuer-alle
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3851.png
                      categoryTags:
                      - inspiration
                      childCategories:
                  - id: '3862'
                    name: Bewusste Ernährung
                    productCount: 1726
                    slug: bewusste-ernaehrung
                    imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3862.png
                    categoryTags:
                    - inspiration
                    childCategories:
                    - id: '3914'
                      name: Biologisch
                      productCount: 816
                      slug: bio-logisch
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3914.png
                      categoryTags:
                      - inspiration
                      childCategories:
                      - id: '3915'
                        name: Alles für das Bio-Müsli
                        productCount: 92
                        slug: alles-fuer-das-bio-muesli
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3915.png
                        categoryTags:
                        - inspiration
                      - id: '3925'
                        name: Süßes Bio-Frühstück
                        productCount: 42
                        slug: suesses-bio-fruehstueck
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3925.png
                        categoryTags:
                        - inspiration
                      - id: '3924'
                        name: Herzhafte Bio-Brotzeit
                        productCount: 105
                        slug: herzhafte-bio-brotzeit
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3924.png
                        categoryTags:
                        - inspiration
                      - id: '3923'
                        name: Bio-Snacks von süß bis salzig
                        productCount: 108
                        slug: bio-snacks-von-suess-bis-salzig
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3923.png
                        categoryTags:
                        - inspiration
                      - id: '3921'
                        name: Bio-Küche von A bis Z
                        productCount: 225
                        slug: bio-kueche-von-a-bis-z
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3921.png
                        categoryTags:
                        - inspiration
                      - id: '3922'
                        name: Bio-Küchenhelfer
                        productCount: 109
                        slug: bio-kuechenhelfer
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3922.png
                        categoryTags:
                        - inspiration
                      - id: '3917'
                        name: Bio-Desserts
                        productCount: 29
                        slug: bio-desserts
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3917.png
                        categoryTags:
                        - inspiration
                      - id: '3916'
                        name: Bio zum Backen
                        productCount: 38
                        slug: bio-zum-backen
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3916.png
                        categoryTags:
                        - inspiration
                      - id: '3920'
                        name: Bio-Heißgetränke
                        productCount: 26
                        slug: bio-heissgetraenke
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3920.png
                        categoryTags:
                        - inspiration
                      - id: '3919'
                        name: Bio-Getränke ohne Alkohol
                        productCount: 29
                        slug: bio-getraenke-ohne-alkohol
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3919.png
                        categoryTags:
                        - inspiration
                    - id: '3909'
                      name: 'Bewusst snacken '
                      productCount: 141
                      slug: bewusst-snacken
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3909.png
                      categoryTags:
                      - inspiration
                      childCategories:
                    - id: '3956'
                      name: Weniger Zucker
                      productCount: 15
                      slug: weniger-zucker
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3956.png
                      categoryTags:
                      - inspiration
                      childCategories:
                    - id: '3666'
                      name: Vegane Vielfalt
                      productCount: 505
                      slug: vegane-vielfalt
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3666.png
                      categoryTags:
                      - inspiration
                      childCategories:
                      - id: '3679'
                        name: Vegane Basics
                        productCount: 64
                        slug: vegane-basics
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3679.png
                        categoryTags:
                        - inspiration
                      - id: '3667'
                        name: Vegan aufs Brot
                        productCount: 104
                        slug: vegan-aufs-brot
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3667.png
                        categoryTags:
                        - inspiration
                      - id: '3668'
                        name: Vegan Frühstücken
                        productCount: 116
                        slug: vegan-fruehstuecken
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3668.png
                        categoryTags:
                        - inspiration
                      - id: '3669'
                        name: Vegan Abendessen
                        productCount: 41
                        slug: vegan-abendessen
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3669.png
                        categoryTags:
                        - inspiration
                      - id: '3670'
                        name: Vegan Kochen
                        productCount: 93
                        slug: vegan-kochen
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3670.png
                        categoryTags:
                        - inspiration
                      - id: '3671'
                        name: Vegan Backen
                        productCount: 21
                        slug: vegan-backen
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3671.png
                        categoryTags:
                        - inspiration
                      - id: '3676'
                        name: Vegane Fertiggerichte
                        productCount: 22
                        slug: vegane-fertiggerichte
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3676.png
                        categoryTags:
                        - inspiration
                      - id: '3672'
                        name: Veganes Fast Food
                        productCount: 50
                        slug: veganes-fast-food
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3672.png
                        categoryTags:
                        - inspiration
                      - id: '3673'
                        name: Vegan Naschen
                        productCount: 80
                        slug: vegan-naschen
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3673.png
                        categoryTags:
                        - inspiration
                      - id: '3674'
                        name: Veganes Eis
                        productCount: 10
                        slug: veganes-eis
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3674.png
                        categoryTags:
                        - inspiration
                    - id: '3887'
                      name: Proteinhaltig
                      productCount: 284
                      slug: proteinhaltig
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3887.png
                      categoryTags:
                      - inspiration
                      childCategories:
                      - id: '3888'
                        name: Proteinhaltiges süßes Frühstück
                        productCount: 13
                        slug: proteinhaltiges-suesses-fruehstueck
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3888.png
                        categoryTags:
                        - inspiration
                      - id: '3889'
                        name: Proteinhaltige herzhafte Brotzeit
                        productCount: 101
                        slug: proteinhaltige-herzhafte-brotzeit
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3889.png
                        categoryTags:
                        - inspiration
                      - id: '3890'
                        name: Proteinhaltig Kochen
                        productCount: 102
                        slug: proteinhaltig-kochen
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3890.png
                        categoryTags:
                        - inspiration
                      - id: '3891'
                        name: Proteinhaltig Backen
                        productCount: 10
                        slug: proteinhaltig-backen
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3891.png
                        categoryTags:
                        - inspiration
                      - id: '3892'
                        name: Proteinhaltige Snacks & Desserts
                        productCount: 61
                        slug: proteinhaltige-snacks-desserts
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3892.png
                        categoryTags:
                        - inspiration
                      - id: '3893'
                        name: Proteinhaltige Sportnahrung
                        productCount: 26
                        slug: proteinhaltige-sportnahrung
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3893.png
                        categoryTags:
                        - inspiration
                    - id: '3863'
                      name: Alkoholfrei
                      productCount: 62
                      slug: alkoholfrei
                      imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3863.png
                      categoryTags:
                      - inspiration
                      childCategories:
                      - id: '3866'
                        name: Wein alkoholfrei
                        productCount: 10
                        slug: wein-alkoholfrei
                        imageUrl: https://shop.rewe-static.de/mobile/categories/images/v2/3866.png
[...]
